.home-main-container {
  font-family: "Trebuchet MS";
  box-sizing: border-box;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  background-color: black;
  min-height: 85vh;
}

.home-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 35px 0px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .home-card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.banner-card {
  background-color: #530707;
  border: 1px solid #530707;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.banner-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px 4px rgba(163, 3, 3, 0.5); /* stronger shadow on hover */
}

.banner-head {
  font-family: "Trebuchet MS";
  font-weight: bold;
  color: #fffdfc;
  font-size: 25px;
  text-align: center;
}

.banner-para {
  font-family: "Trebuchet MS";
  color: rgb(205, 198, 198);
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .banner-head {
    font-size: 16px;
  }

  .banner-para {
    font-size: 10px;
  }
  .home-card-container {
    padding-top: 0px;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
}
