.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}
.movies-div {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
}
.movies-page-banner-container {
  background-color: #e30e1c;
  width: 100%;
  padding: 5px 0px;
}

.movies-banner-image {
  height: 40px;
  width: 100%;
  margin: 0px;
}
.movies-banner-text {
  color: Black;
  font-family: "Trebuchet MS";
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}
.movie-list-container {
  list-style: none;
  padding: 0px;
  display: grid;
  padding: 20px 20px;
  flex-shrink: 1;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
}

@media screen and (max-width: 576px) {
  .movie-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
