.movie-card {
  font-family: "Trebuchet MS";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  height: 410px;
  padding: 20px 0px;
  box-sizing: border-box;
}

.movie-card:hover {
  padding: 15px 15px;
  transition: all 0.3s ease;
  box-shadow: 0 0 30px rgba(255, 107, 107, 0.8);
  border-radius: 15px;
  border: 1px solid rgb(255, 107, 107, 0.8);
  color: rgb(245, 25, 18);
}
.nav-link {
  text-decoration: none;
}

.poster-image {
  width: 100%;
  height: 65%;
  border-radius: 15px;
}

.movie-text-container {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-text {
  height: 10%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.year-text {
  height: 10%;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 576px) {
  .movie-card {
    height: 300px;
    padding: 10px 0px;
  }

  .movie-card:hover {
    padding: 10px 10px;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 107, 107, 0.8);
    border-radius: 10px;
  }
  .title-text {
    font-size: 13px;
  }

  .year-text {
    font-size: 10px;
  }
}
