.navbar-container{
    font-family: "Trebuchet MS";
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: #1c0909;
    width: 100%;
}
.logo-image{
    height: 50px;
    width: 150px;
}
.navbar-menu-item-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item-link{
    text-decoration: none;
}

.navbar-menu-item {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
}

.navbar-menu-item:hover {
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 22px;
    transition: all 0.18s ease-in-out;
    box-shadow: 0 0 30px rgba(236, 29, 36, 0.4);
    color: #e30e1c;
    border: 1px solid #e30e1c;
    border-radius: 8px;
    text-align: center;
}
.hamburger{
    display: none;
}

@media screen and (max-width: 576px) {
    .navbar-container{
        height: 10vh;
    }
    .logo-image {
        height: 30px;
        width: 80px;
        padding-left: 15px;
    }
    .hamburger {
        color: #ffffff;
        display: block;
        position: absolute;
        top: 22px;
        right: 20px;
        font-size: 35px;
        cursor: pointer;
        z-index: 1001;
    }
    .navbar-menu-item-container {
        position: fixed;
        top: 0;
        right: -40%;
        width: 40%;
        height: 100vh;
        background-color: #1c0909;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 70px; 
        transition: right 0.3s ease-in-out;
        z-index: 1000;
    }
    .open {
        right: 0%;
    }
    .navbar-menu-item {
        font-size: 20px;
        width: 100%;
        text-align:left;
        outline: none;
    }
    .navbar-menu-item:hover {
        font-size: 20px;
        box-shadow: none;
        border: none;
    }
}
